<div class="container">
  <header class = "jumbotron">
    <h1>Lend a Lens</h1>
  </header>
  {{#link-to 'admin'}}Add New Listing{{/link-to}} <br>
  {{#link-to 'index'}}Home{{/link-to}}
  {{outlet}}
</div>
